<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
    
    <%= f.input :user_name, :required => false, :autofocus => true %>
    <%= f.input :email, :required => false %>
    <%= f.input :password, :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    <%= f.button :submit, "Sign up" %>
<% end %>

<%= render "devise/shared/links" %>
