<!DOCTYPE html>
<html>
<head>
  <title>Queez</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-inner">
		<div class="container">
			<a href="/" class="brand">Queez</a>
			<% if user_signed_in? %>
			<ul class="nav">
				<li><%= link_to "Your Q's", your_questions_path %></li>
			</ul>
			<ul class="nav pull-right">
                  <li><%= link_to (image_tag current_user.gravatar_url, class: "menu_icon", size: "30x30"), edit_user_registration_path %></li>
                  <li><%= link_to "Log Out", logout_path %></li>
            </ul>
                <% else %>

            <ul class="nav pull-right">
                  <li><%= link_to "Login", login_path %></li>
			</ul>
			<p class="navbar-text pull-right">Have an account?</p>
			<% end %>
		</div>
	</div>
</div>

<div class="container">
	<% flash.each do |type, messages| %>
        <div class="alert <%= flash_class type %>">
      	<button class="close" data-dismiss="alert">×</button>
      	<%= messages %>
      </div>
	<% end %>
    <%= yield %>
</div>
	
</body>
</html>
